{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="{% static 'portblog/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'portblog/images/favicon.ico' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    
    <title>Archive</title>
</head>
<body>
    <div class="typebox">
        <h1 class="line-1 anim-typewriter" style="font-size: 30px; --wwidth: 7em; --delay:2s; --runlen:1s; --steps:10; --cursor_death: 7">Archive</h1>
    </div>
    <hr>
    <div class="typebox" style="margin-top: 30px">
        <h1 class="line-1 anim-typewriter" style="font-size: 15px; --wwidth: 4em; --delay:3s; --runlen:1s; --steps:4; --cursor_death: 7">$ ls</h1>
    </div>
    <div>

    <div class="typebox lsbox " style="margin-top: 4px; display:inline-block; --entry-delay: 5s">
    
    

</body>
</html>