{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="{% static 'portblog/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'portblog/images/favicon.ico' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    
    <title>BH Resume</title>
</head>
<body>
    <div class="typebox">
        <h1 class="line-1 anim-typewriter" style="font-size: 30px; --wwidth: 6em; --delay:2s; --runlen:1s; --steps:10; --cursor_death: 7">Resume</h1>
    </div>

    <div class="typebox">
        <h1 class="line-1 anim-typewriter" style="font-size: 20px; --wwidth: 12em; --delay:3s; --runlen:1s; --steps:10; --cursor_death: 7">Brayden Hill</h1>
        <hr>
    </div>
    <div>

    <div class="typebox" style="margin-top: 30px">
        <h1 class="line-1 anim-typewriter" style="font-size: 15px; --wwidth: 18em; --delay:4s; --runlen:1s; --steps:14; --cursor_death: 7">$ cat resume.txt</h1>
    </div>
    <div>

    <div class="typebox lsbox bordered" style="margin-top: 4px; display:inline-block; --entry-delay: 5s">
    <pre style="font-weight: 100; font-family:monospace; font-size: 15px">
    Software Engineer - Intern
    <a href="https://www.linkedin.com/in/brayden-hill/" target="blank" style="color: rgba(255,255,255,.75)">linkedin.com/in/brayden-hill/</a>
    <a href="https://github.com/Vespertine112" target="blank" style="color: rgba(255,255,255,.75)">github.com/Vespertine112</a>
    770-519-3644
    Hillbgh@gmail.com

    SKILLS
    IT Service Management
    IT Hardware Support
    Remote Connection and Virtual Machines
    Computer Networking
    IT Security
    Android Development
    Implementing/Managing Directory Services
    Operating systems
    Python
    Java

    EXPERIENCE
    Systems Evolution Inc. - Software Engineer Intern.
    Jan 2020 - Present
    Assisted in engineering and data governance pertaining to CRM
    Built multiple programs to streamline data-processing

    USU Kinesiology & Health Science, Logan UT - Web Content Management
    October 2020 - Jan 2021
    Worked updating and streamlining websites for the KHS dept
    Managed content and worked on optimizations

    Prometheus Technologies - Owner & Operator 
    May 2017 - Present
    Design, Construct, and Integrate computer systems for clientele
    Maintenance for constructed systems

    Walmart, Cumming GA - Sales Floor Associate
    August 2017 - September 2018
    Worked as a Sales associate
    Worked extensively in inventory management

    Ingles Markets, Cumming GA - Customer Service Rep.
    April 2016 - August  2017

    EDUCATION
    Utah State University, Logan Utah - Computer Science est. 2024
    In progress

    Extracurriculars
    Philosophy Club
    Free Software & Linux Club

    CERTIFICATIONS - All verifications available upon request
    Google IT Support Specialization - Coursera
    Security: Defense against the digital dark arts - Coursera
    Operating Systems and You: Becoming a Power User - Coursera
    System Administration and IT Infrastructure Services - Coursera
    Computer Networking - Coursera
    Technical Support Fundamentals - Coursera

    AWARDS
    National Honors Society
    Utah State University Honors Society
    Eagle Scout

    </pre>        
    </div>

    

</body>
</html>